/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
 body {
    font-family: sans-serif;
 }

 ul {
    list-style-type:none;
    padding-left: 0;
 }


@media (max-width:2532px) {
    body {
        font-size: 16px;
        margin-top: 0;
    }

    .navigation {
        display: flex;
        flex-direction: column-reverse;align-items: flex-end;
    }

    .navigation img {
        max-width: 25%;
        margin-top: -40px;
        margin-left: 18px;
        margin-bottom: 15px;
        display: block;
    }


    .navigation ul {
        display: none;
    }

    #button1, #button2 {
        margin-top: 22px;
        background-color: #540B51;
        border: none;
        width: 70px;
        height: 70px;
        margin-bottom: -32px;
    }

    .navigation {
        background-color: #540B51;
    }

    header {
        background-color: #540B51;
    }

    h1 {
        font-size: 36px;
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 25px;
    }

    header > div > p {
        color: white;
        text-align: center;
    }


    #signup-buttons, #last-buttons {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    #signup-buttons button, #last-buttons button {
        margin: 5px 0;
        height: 45px;
        text-transform: uppercase;
    }

    .google {
        background-color: #4285F4;
        align-items:center;
        justify-content:center;
        height: 50px;
        display: flex;
        
    }

    .google img {
        margin-right: 10px;
        max-width: 25px;
        background-color: white;
        padding: 2px;
    }

    .highlight {
        color: orange;
        font-weight: bold;
    }

    #hero img {
        max-width: 150%;
        height:auto;
        margin-top: 10px;
    }

    #trusted {
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
        padding-top:40px;
        margin: 0;
    }

    #companies img {
        max-width: 20%;
        display: inline-block;
        margin: 0 auto;
        padding-bottom: 22px
    }

    #companies {
        text-align: center;
        margin-top: 50px;
    }

    
    /* NASA logo */
    #companies img:nth-child(2) {
        height: 35px;
        width: 40px;
        padding-left: 17px;
        padding-right: 17px;
    
    } 
    
    /*Target logo */
    #companies img:nth-child(4) {
        height: 35px;
        width: 35px;
        padding-left: 25px;
        
    }

    /*NYT logo*/
    #companies img:nth-child(5) {
        max-width: 50%;
        padding-right: 20px;
        padding-left: 15px;
        
    }

    #companies img:nth-child(6) {
        max-width: 33%;
        padding-right: 20px;
        
    }

    #connected {
        background-color: #F3EAE2;
    }

    #connectedness {
        background-color: #F3EAE2;
    }

    #connectedness img{
        max-width: 100%;
    }

    #team {
        background-color: #F3EAE2;
    }

    #team h2 {
        padding: 15px;
        margin-bottom: 0;
    }

    #team p, #work p, #fastertools p {
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 15px;
        word-spacing: 2px;
    }

    #team a span, #work a span, #fastertools a span {
        color: #4285F4;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        padding-left: 15px;
    }

    #team img, #work img {
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #work {
        background-color: #F3EAE2;
    }

    #work h2 {
        margin-top: 0;
        padding: 15px;
    }

    #fastertools {
        background-color: #F3EAE2;
        margin-top: 0;

    }

    #fastertools h2 {
        padding: 15px;
        margin-top: 0;
    }

    #lastsection {
        background-color: #F3EAE2;
    }

    #lastsection h3 {
        text-align: center;
        margin: 0;
        padding-top: 52px;
        padding-left: 52px;
        padding-right: 52px;
        padding-bottom: 20px;
        font-size: 26px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    #lastsection p {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    #slack {
        background-color: #540B51;
        color: white;
    }

    #sales {
        background-color: whitesmoke;
        color:#540B51;
    }

    #communicate, #remote, #team-work {
        font-size: 40px;
        color:#540B51
    }

    #communicate-text, #remote-text, #team-work-text {
        padding-left: 90px;
        padding-right: 90px;
        font-weight: bold;
        font-size: 13px;
    }




}