/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/



@media (max-width:2532px) {
    body {
        font-size: 16px;
        margin-top: 0;
    }

    .navigation {
        display: flex;
        flex-direction: column-reverse;align-items: flex-end;
    }

    .navigation img {
        max-width: 25%;
        margin-top: -40px;
        margin-left: 18px;
        margin-bottom: 15px;
        display: block;
    }


    .navigation ul {
        display: none;
    }

    #button1, #button2 {
        margin-top: 22px;
        background-color: #540B51;
        border: none;
        width: 70px;
        height: 70px;
        margin-bottom: -32px;
    }

    .navigation {
        background-color: #540B51;
    }

    header {
        background-color: #540B51;
    }

    h1 {
        font-family:sans-serif;
        font-size: 36px;
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 25px;
    }

    header > div > p {
        font-family: sans-serif;
        color: white;
        text-align: center;
    }


    #signup-buttons {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    #signup-buttons button {
        margin: 5px 0;
        height: 45px;
        text-transform: uppercase;
    }

    .google {
        background-color: #4285F4;
        align-items:center;
        justify-content:center;
        height: 50px;
        display: flex;
        
    }

    .google img {
        margin-right: 10px;
        max-width: 25px;
        background-color: white;
        padding: 2px;
    }

    .highlight {
        color: orange;
        font-weight: bold;
    }

    #hero img {
        max-width: 150%;
        height:auto;
        margin-top: 10px;
    }

    #trusted {
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
    }

    #companies img {
        max-width: 20%;
        display: inline-block;
        margin: 0 auto;
        padding-bottom: 22px
    }

    #companies {
        text-align: center;
        margin-top: 50px;
    }

    
    /* NASA logo */
    #companies img:nth-child(2) {
        height: 35px;
        width: 40px;
        padding-left: 17px;
        padding-right: 17px;
    
    } 
    
    /*Target logo */
    #companies img:nth-child(4) {
        height: 35px;
        width: 35px;
        padding-left: 25px;
        
    }

    /*NYT logo*/
    #companies img:nth-child(5) {
        max-width: 50%;
        padding-right: 20px;
        padding-left: 15px;
        
    }

    #companies img:nth-child(6) {
        max-width: 33%;
        padding-right: 20px;
        
    }

    




}